* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 800px;
}

.text-orange {
    color: orange;
    text-align: center;
}

.bg-red {
    background-color: red;
}

.padding {
    padding: 50px;
}